<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>weekdays</title>
  </head>
  <body>
    <h1>today is a week day</h1>
    <p>So go to work</p>

  </body>
</html>
<!-- <ul>
  <li> buy food</li>
  <li>cook food</li>
  <li>eat food</li>
  <% for(var i=0;i<items.length;i++){ %>
    <li> <%= itemList %> </li>
  <% } %>
</ul>

<form class="" action="/" method="post">
  <input type="text" name="newItem" >
  <button type="submit" name="button">Add</button>
</form> -->
